Importing the required Packages

In [ ]:
%pip install imblearn

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import RandomOverSampler
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

Data Eploration and Preprocessing

In [2]:
data=pd.read_csv('creditcard.csv')
data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,371.478000,-0.185541,0.224434,0.873905,0.241431,-0.033144,0.152717,0.096350,-0.061222,-0.001297,...,0.004469,-0.124185,-0.039499,-0.000140,0.111538,0.026084,0.012885,-0.018732,66.430280,0.002000
std,223.289659,1.319761,1.154144,1.026305,1.257776,1.084735,1.235014,0.840424,0.883285,0.891584,...,0.630712,0.611319,0.356701,0.616917,0.429273,0.471476,0.319607,0.267576,187.272307,0.044699
min,0.000000,-6.093248,-12.114213,-5.694973,-4.657545,-6.631951,-3.498447,-4.925568,-7.494658,-2.980624,...,-4.134608,-2.776923,-3.553381,-1.867208,-1.544209,-1.243924,-3.525281,-2.735623,0.000000,0.000000
25%,170.500000,-0.935897,-0.186676,0.307137,-0.492527,-0.562147,-0.632045,-0.334229,-0.174967,-0.493081,...,-0.219778,-0.543714,-0.177905,-0.364287,-0.166227,-0.304858,-0.047232,-0.023108,5.442500,0.000000
50%,368.000000,-0.377203,0.284608,0.884642,0.326839,-0.148192,-0.122938,0.089204,0.030920,-0.063950,...,-0.080389,-0.101654,-0.050473,0.090331,0.144451,0.003190,0.020374,0.020367,16.185000,0.000000
75%,559.250000,1.126162,0.867528,1.529554,1.067740,0.440822,0.476314,0.561682,0.252395,0.439243,...,0.083731,0.281740,0.074797,0.420861,0.419504,0.263968,0.109761,0.084432,55.112500,0.000000
max,755.000000,1.685314,5.267376,4.017561,4.861129,7.672544,5.122103,4.808426,3.877662,5.459274,...,5.273420,1.574750,3.150413,1.215279,1.206820,3.087444,2.490503,1.575380,3828.040000,1.000000

In [4]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
data.shape

(1000, 31)

In [7]:
# checking fro the Duplicates
data.duplicated().sum()

7

In [9]:
# Removing the Duplicates
data.drop_duplicates(inplace=True)

data.duplicated().sum()

0

In [10]:
# checking for null or Missing values
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [13]:
# Checking for distrubation of 'class' column
data['Class'].value_counts()

# With number of Fraud transactions beinh only 2 and genuine transactions to 991

Class
0    991
1      2
Name: count, dtype: int64